{% extends 'sellercentral/dashboard.html' %}

{% block content %}
    <div class="container my-3">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <span >OrderId: <strong>{{ object.order_id }}</strong></span>
                        {% if order.status == 'Ordered' %}
                               <small class="badge rounded-pill bg-secondary" >{{ order.status }}</small>
                               {% elif order.status == 'Shipped' %}
                               <small class="badge rounded-pill bg-primary" >{{ order.status }}</small>
                               {% elif order.status == 'Completed' %}
                               <small class="badge rounded-pill bg-success" >{{ order.status }}</small>
                               {% else %}
                               <small class="badge rounded-pill bg-danger" >{{ order.status }}</small>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <p>
                            {{ object.shipping_address }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <strong>Items in the order</strong>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col">PID</th>
                                    <th class="col">Name</th>
                                    <th class="col">Price/item</th>
                                    <th class="col">Qty.</th>
                                    <th class="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                               {% for item in items %}
                               <tr>
                                    <th scope="row" >{{ item.product.id }}</th>
                                    <td>{{ item.product.title }}</td>
                                    <td>{{ item.price }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.get_total }}</td>
                                </tr>
                               {% endfor %}
                            </tbody>
                            <tfoot>
                                <td>
                                    <strong>Total Amount: {{ object.order_amount }}</strong>
                                </td>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}