{% extends 'ecomm/index.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %} Checkout | Ecomm.com {% endblock title %}

{%block header%}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid d-flex justify-content-center">
        <a class="navbar-brand" href="{% url 'index' %}">
            Bhaskar.in
        </a>       
    </div>
</nav>
{%endblock header%}

{% block content %}
    <div class="container my-4">
        <strong class="fs-4">Order Checkout</strong>
        <hr>
        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'order-checkout' %}">
                {% csrf_token %}
                {% if cartitems %}
                    <input type="hidden" name="cartId" value="{{ cartId }}">
                {% else %}
                    <input type="hidden" name="productId" value="{{ product.id }}">
                {% endif %}
                {{ form | crispy }}
                    <button class="btn btn-warning w-75" type="submit">Place Order</button>
                </form>
            </div>
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-header"><h4>Order summery</h4></div>
                    <div class="card-body">
                        <ol class="list-group list-group-numbered">
                            {% if cartitems %}
                                {% for item in cartitems %}
                                <li class="d-flex justify-content-between list-group-item">
                                    <strong>{{ item.product.title }}</strong>
                                    <h6>&#8377; {{ item.get_total | intcomma }}</h6>
                                </li> 
                                {% endfor %}
                            {% else %}
                            <li class="d-flex justify-content-between list-group-item">
                                <!-- <div class=""> -->
                                    <strong>{{ product.title }}</strong>
                                    <h6>&#8377; {{ product.unitprice | intcomma }}</h6>
                                <!-- </div> -->
                            </li>
                            {% endif %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
