@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css');
.product-card {
    transition: 100ms linear;
}

.product-card:hover {
    box-shadow: 2px 2px 5px gray;
}

.review-card {
    transition: 100ms linear;
}

.review-card:hover {
    box-shadow: 1px 1px 2px gray;
}