{% extends 'ecomm/index.html' %}
{% load static %}
{% load humanize %}
{% block title %} Cart | Ecomm.in {% endblock title %}

{% block content %}
<div class="container my-3">
    {% if items %}
    <div class="row">
        <div class="col-12 col-md-8">
            <h5>Shopping Cart</h5>
            <hr/>
            <div class="list-group list-group-flush">
                {% for item in items %}
                <div  class="list-group-item ">
                    <div class="d-flex w-100 justify-content-between row">
                        <img class="img-thumbnail " style="max-height: 150px; max-width: 75px; object-fit: scale-down;" src="{{ item.product.image.url }}" alt="">
                        <div class="col mx-3">
                            <a class="text-decoration-none d-flex-inline" href="{% url 'product-details' item.product.sku %}"><h6 class="mb-1">{{ item.product.title }}</h6></a>
                            <div class="btn-group mt-3">
                                <button data-product={{item.product.id}} data-action="remove" class="btn btn-outline-primary btn-sm update-cart"><i class="bi bi-dash"></i></button>
                                <!-- <input readonly value="{{ item.quantity }}" style="max-width: 50px;" type="number"> -->
                                {% if item.product.stock > item.quantity %}
                                <button data-product={{item.product.id}} data-action="add" class="btn btn-outline-primary btn-sm update-cart"><i class="bi bi-plus"></i></button>
                                {% else %}
                                <button disabled data-product={{item.product.id}} data-action="add" class="btn btn-outline-primary btn-sm update-cart"><i class="bi bi-plus"></i></button>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12 mx-3 mt-2">
                            <small>Quantity: {{ item.quantity }}</small>
                            <strong class="ms-5">&#8377; {{item.get_total | intcomma}} </strong>
                        </div>
                    </div>
                    
                </div>
                {% endfor %}
                
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="col">
                            <div>
                            <strong>Cart Total</strong>
                            <p>&#8377; {{ cart.get_cart_total | intcomma}}</p>
                        </div>
                        </div>
                        
                        <div class="col text-align-right">
                            <strong>Total items</strong>
                            <p>{{ cart.get_cart_quantity  }}</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <form class="me-3" method="GET" action="{% url 'order-checkout' %}">
                        {% csrf_token %}
                        <input type="hidden" name="cartId" value="{{ cart.id }}">
                        <input type="hidden" name="action" value="cart">
                        <button class="btn btn-warning " type="submit">Proceed to Checkout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body mx-auto">
                    <div class="container">
                    <img style="max-height: 150px; max-width: 220; " src="{% static 'ecomm/img/emptycart.png' %}" alt="Empty cart">
                    </div>
                    {% if request.user %}
                        <strong>Oh snap your cart is empty, start shopping </strong>
                    {% else %}
                        <small>Missing cart items? login to see</small>
                    <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}