{% extends 'ecomm/index.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %} {{ object.title }} | Ecomm.com {% endblock title %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-12 col-md-5">
            <img class="img-thumbnail mx-auto" width="inherit" height="inherit" src="{{ object.image.url }}" alt="{{object.title}}">
        </div>
        <div class="col-12 col-md-7">
            <h5>{{ object.title }}</h5>
            <small>
                {% if rating %}
                    Rating: {{rating}}
                {% endif %}
            </small>
            <div class="row">
                <div>
                    {% if object.discount_price %}
                        <span>
                            &#8377; <del>{{ object.price | intcomma }}</del>
                            <h3>&#8377; {{ object.discount_unitprice | intcomma }}</h3>
                        </span>
                    {% else %}
                        <span><h3>&#8377; {{ object.unitprice | intcomma }}</h3></span>
                    {% endif %}
                </div>
                <div class="col">
                <p>{{ object.description }}</p>
                </div>
            </div>
            <div class="row mx-auto">
                <form class="me-3" method="GET" action="{% url 'order-checkout' %}">
                    <input type="hidden" name="productId" value="{{ object.id }}">
                    <input type="hidden" name="action" value="buynow">
                    {% csrf_token %}
                        <button class="btn btn-warning me-2" type="submit"><i class="bi bi-lightning-charge-fill"></i>Buy Now</button>
                        <button class="btn btn-info update-cart" data-product={{object.id}} data-action="add" type="button"><i class="bi bi-cart-plus-fill me-2"></i>Add to Cart</button>
                </form>
            </div>

            <!-- review write modal START -->
            <div class="modal fade" id="review-modal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reviewModalLabel">Write a Review</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form novalidate method="POST">
                        {% csrf_token %}
                        <div class="modal-body">
                            <fieldset>
                                {{ form | crispy }}
                            </fieldset>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
            <!-- END -->

            <!-- review card START -->
            <div class="card my-4">
                <div class="card-header"><strong>Product Reviews</strong></div>
                <div class="card-body">
                    <div class="flex-row mb-2">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#review-modal">Write a review</button>
                    </div>
                    <div class="list-group">
                        {% if reviews %}
                            {% for review in reviews %}
                                <a href="#" class="list-group-item list-group-item-action mb-3" aria-current="true">
                                    <span>Rating: {{review.rating}}</span>
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{ review.title }}</h5>
                                        <small>{{ review.review_date  }}</small>
                                    </div>
                                    <p>{{ review.content }}</p>
                                    <hr>
                                    <small>By {{ review.author.user.profile.display_name }}</small>
                                </a>
                            {% endfor %}
                        {% else %}
                            <div class="alert alert-primary" role="alert">
                                No reviews to show
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- review card END -->
        </div>
    </div>
</div>
{% endblock content %}