{% load custom_tags %}
<form class="d-flex" method="GET" action="{% url 'search-result' %}" >
    <div class="input-group">
        {% if categories %}
        <div class="d-none d-md-block">
          <!-- <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Category</button> -->
          <select name="category" class="btn btn-secondary dropdown-toggle form-select" data-bs-toggle="dropdown" aria-expanded="false">
            {% for c in categories %}
              {% if c == current_category %}
                <option class="bg-dark" selected>{{c}}</option>
              {% else %}
                <option class="bg-dark" value="{{c}}">{{c}}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        {% endif %}
        <input name="query" spellcheck="false" autocomplete="off" class="form-control " value="{{query}}" type="search" placeholder="Search for products, brands..." aria-label="Search">
      <button class="btn btn-warning" type="submit">Search</button>
    </div>
</form>