{% extends 'ecomm/index.html' %}
{% load crispy_forms_tags %}
{% block title %}Ecomm.in - Profile{% endblock title %}

{% block content %}
	<div class="container-fluid my-3">
		<div class="row">
			<div class="col col-md-3">
				<div class="card">
					<div class="card-body d-flex">
						<img style="max-width: 60px; max-height: 60px" src="{{ user.profile.image.url }}" alt="profile pic" class=" rounded-circle account-img me-2">
						<div class="ms-auto">
							<h4 class="account-heading">{{ user.profile.name }}</h4>
							<a href="tel:{{user.profile.mobileNumber}}" class="text-info">{{user.profile.mobileNumber}}</a>
							<a href='mailto:{{user.email}}' class="text-secondary">{{ user.email }}</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col col-md-6">
				<div class="card">
					<div class="card-header">
						<legend>Update Profile Details</legend>
					</div>
					<form novalidate method="POST" enctype="multipart/form-data">
					{% csrf_token %}
						<div class="card-body">
							<fieldset>
								{{ u_form | crispy }}
								{{ p_form | crispy }}
							</fieldset>
							<button class="btn btn-primary" type="submit" >Update profile</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}