{% extends 'ecomm/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Admin - Registration
{% endblock title %}

{%block header%}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid d-flex justify-content-center">
        <a class="navbar-brand" href="{% url 'index' %}">
            [website]
        </a>       
    </div>
</nav>
{%endblock header%}

{% block content %}
    <div class="container my-3">
        <div class="row ">
            <div class="col col-md-5 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <legend>Create Account</legend>
                    </div>
                    <form novalidate method="POST">
                        {% csrf_token %}
                        <div class="card-body">
                            <fieldset>
                                {{ form | crispy }}
                            </fieldset>
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-primary" type="submit" >Sign up</button>
                                </div>
                                <span>
                                    <small>Already have an account? <a href="{% url 'login' %}">Login</a></small>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
